/***** FONTES *****/
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/***** fim FONTES *****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #000;
    --button-color: #E0E0E0;
}

body {
    background-color: var(--color-black);
}

.top-screen .athlete-slider {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    position: relative;
}

.top-screen .athlete-slider div::after {
    content: '';
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    opacity: 1;
}

.top-screen .athlete-slider .third--item img {
    min-width: 60%;
}

.top-screen .athlete-slider .first--item.selected::after {
    background-image: linear-gradient(
        90deg, 
        rgb(0, 0, 0),
        rgb(0, 0, 0),
        rgba(0, 0, 0, 50%),
        rgba(0, 0, 0, 0)
    );
}

.top-screen .athlete-slider .second--item.selected::after {
    background-image: linear-gradient(
        90deg, 
        rgb(0, 0, 0),
        rgb(0, 0, 0),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0)
    )
}

.top-screen .athlete-slider .third--item.selected::after {
    background-image: linear-gradient(
        90deg, 
        rgb(0, 0, 0),
        rgb(0, 0, 0),
        rgb(0, 0, 0),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0)
    );
}

.top-screen .athlete-slider .item {
    opacity: 0;
    transition: opacity 1s cubic-bezier(0, 0, 0, 0.82);
}

.top-screen .athlete-slider img {
    width: auto;
    height: 100%;
    position: absolute;
    right: 0;
}

.top-screen .athlete-slider .item.selected {
    opacity: 1;
}

.top-screen-container {
    position: absolute;
    top: 0;
    margin: 3% 10%;
    color: #fff;
}

/***** CONTEÚDO PÁGINA TOPO *****/
.bold {
    font-weight: bold;
}

button { /*Resetar estilo de todos os botões*/
    background-color: unset;
    outline: none;
    color: unset;
    border: none;
}

.hero-section {
    font-family: 'Montserrat', sans-serif;
}

.top-screen-container .hero-section h1 {
    font-family: 'Lora', serif !important;
    font-size: 64px;
    margin-top: 1.5em;
}

.hero-section .hero-content {
    max-height: 10vh;
    margin-top: 10px;
    font-size: 56px;

    display: flex;
}

.hero-section .hero-content .hero-group {
    font-weight: bolder;
    width: 300px;
    height: 70px;

    margin-left: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.hero-section .hero-name {
    transition: margin-top 1s cubic-bezier(0, 0, 0, 0.82);
    position: absolute;
    margin-top: 80px;
}

.hero-section .hero-name.selected {
    margin-top: 0;
}

 .hero-section .buttons {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

 .hero-section .buttons button {
    font-size: 18px;
    border-radius: 4px;
    min-width: 30%;
    padding: 15px 0;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 #000;
}

 .hero-section .buttons #invest {
    background-color: var(--button-color);
    color: #000;
}

 .hero-section .buttons #startups {
    border: 1px solid var(--button-color);
    color: #fff;
}

.hero-section .hero-description {
    width: 65%;
    height: 100px;
    margin-top: 90px;
}

.hero-section .hero-description > div:first-child {
    height: 80px;

    overflow: hidden;
    position: relative;
    display: flex;
}

.hero-section .hero-description p {
    transition: margin-top 1s cubic-bezier(0, 0, 0, 0.82);
    margin-top: 20em;
    position: absolute;
    display: flex;
}

.hero-section .hero-description p.selected {
    margin-top: 0;
}

.hero-section .hero-description i {
    font-size: 30px;
    margin-right: 20px;
    margin-left: 2px;
}

.hero-section .hero-description p > span {
    font-size: 16px;
}

.bars-group {
    margin-top: 20px;
    width: 100%;
    height: 10px;

    position: relative;
    display: flex;
    align-items: center;
    align-self: end;
}

.bars-group .bar {
    background-color: #fff;
    opacity: 0.5;
    width: 100%;
    padding: 2px;
}

.bars-group .main-bar {
    background-color: #fff;
    padding: 2px;

    transition: all .5s cubic-bezier(0, 0, 0, 0.82);
    width: 33.3%;
    position: absolute;
    left: 0;
}
/***** fim CONTEÚDO PÁGINA TOPO *****/


/***** CONTEÚDO ABOUT US *****/
.section-aboutus {
    
}
/***** fim CONTEÚDO ABOUT US *****/