@media only screen and (max-width: 600px){
    body {
        width: 100vw;
    }

    .top-screen {
        overflow: hidden;
    }

    .top-screen .athlete-slider img {
        right: -12em;
        transform: scale(1.3);
    }

    .top-screen-container {
        margin: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top-screen-container .logo {
        align-self: flex-start;
        margin: 3% 10%;
    }

    .top-screen-container .hero-section {
        width: 100vw;
        margin: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top-screen-container .hero-section > h1 {
        font-size: 24pt;
    }

    .hero-section .hero-content {
        font-size: 15pt;
    }

    .hero-section .hero-content .hero-group  {
        width: 120px;
        height: 30px;
    }

    .hero-section .buttons button {
        flex: 1 1 60%;
    }

    .hero-section .hero-description {
        width: 80%;
        height: 150px;
    }

    .hero-section .hero-description > div:first-child {
        height: 150px;
    }

    .hero-section .hero-description p {
        width: auto;
    }

    .hero-section .hero-description p > span {
        font-size: 12pt;
    }

    .bars-group {
        min-width: 75%;
    }

    .bars-group .bar {
        width: 100%;
    }

}