@media only screen and (max-width: 800px){

    .top-screen {
        overflow: hidden;

        --height: 130vh;
        height: var(--height);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top-screen .athlete-slider img {
        right: -12em;
        height: var(--height);
    }

    .top-screen .athlete-slider div::after {
        height: var(--height);
    }

    .top-screen-container {
        margin: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top-screen-container .logo {
        position: relative;
        top: 25px;
        left: -20%;
    }

    .top-screen-container .hero-section {
        width: 100vw;
        margin: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top-screen-container .hero-section > h1 {
        font-size: 24pt;
    }

    .hero-section .hero-content {
        font-size: 15pt;
    }

    .hero-section .hero-content .hero-group  {
        width: 120px;
        height: 30px;
    }

    .hero-section .buttons button {
        flex: 1 1 60%;
    }

    .hero-section .hero-description {
        width: 80%;
        height: 150px;
    }

    .hero-section .hero-description > div:first-child {
        height: 150px;
    }

    .hero-section .hero-description p {
        width: auto;
    }

    .hero-section .hero-description p > span {
        font-size: 12pt;
    }

    .bars-group {
        min-width: 75%;
    }

    .bars-group .bar {
        width: 100%;
    }


    /***** CONTEÚDO ABOUT US *****/
    .main-about {
        height: fit-content;
        position: relative;
        grid-template-columns: 1fr;
        grid-auto-flow: dense;
        display: grid;
        align-items: center;
        justify-items: center;
    }

    .main-about > section:first-child {
        grid-column: 2;
        grid-row: 2;
        justify-content: center;
    }

    .main-about > section:first-child #the-rock {
        align-self: center;
    }

    .main-about .section-investor {
        grid-column: 2;
        grid-row: 1;
        gap: 10px;
        margin: 30% 0 0 0;
    }

    .main-about .section-investor p {
        font-size: 20px;
    }

    .section-investor .questions-group .questions-item h2 {
        font-size: 16px;
    }

    .main-about .title-group {
        position: absolute;
        top: 0px;
        width: 100%;
        align-items: flex-start;
    }

    .main-about .title-group h1 {
        font-size: 32px;
        margin: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .main-about .title-group h1 i {
        position: absolute;
        left: 0;
        top: 100%;
        transform: rotate(135deg) !important;
        font-size: 40px;
    }

    .main-about .section-investor button.investor-button {
        display: none;
    }

    section.bars-right {
        display: none;
    }
    
    
    /***** fim CONTEÚDO ABOUT US *****/
    
    .details-invest {
        height: 230vh;
    }

    .details-invest .container-details {
        width: 80%;
        margin: 50px 0;
    }

    .details-invest .container-details article {
        display: none;
    }

    .grid-details .grid-container .grid-carousel {
        grid-template-columns: 1fr;
    }

    .grid-carousel .title-detail {
        grid-row: 1;
    }

    .grid-carousel .title-detail h1 {
        font-size: 22px;
        text-decoration: none;
    }

    .grid-carousel .title-detail p {
        margin: 15px 0 40px 0;
        font-size: 16px;
        text-decoration: none;
    }

    .grid-carousel .description-invest {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .grid-carousel .description-invest p{
        font-size: 14px;
        text-decoration: none;
    }

    .grid-carousel .chart-section {
        grid-row: 3;
    }

    .grid-carousel img {
        width: 100%;
    }

    .grid-carousel .description-invest::before {
        display: none;
    }
}


@media only screen and (min-width: 801px) and (max-width: 1000px){ 
    .details-invest {
        height: fit-content;
    }

    .details-invest .container-details {
        width: 80%;
        margin: 50px 0;
    }

    .details-invest .container-details article {
        display: none;
    }

    .grid-details .grid-container .grid-carousel {
        grid-template-columns: 1fr;
    }

    .grid-carousel .title-detail {
        grid-row: 1;
    }

    .grid-carousel .title-detail h1 {
        font-size: 22px;
        text-decoration: none;
    }

    .grid-carousel .title-detail p {
        margin: 15px 0 40px 0;
        font-size: 16px;
        text-decoration: none;
    }

    .grid-carousel .description-invest {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .grid-carousel .description-invest p{
        font-size: 14px;
        text-decoration: none;
    }

    .grid-carousel .chart-section {
        grid-row: 3;
    }

    .grid-carousel img {
        width: 100%;
    }

    .grid-carousel .description-invest::before {
        display: none;
    }


    
}

@media only screen and (max-width: 1000px){
    
    .invest-test {
        bottom: -60%;
    }

    .invest-test .header h1 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .invest-test .text-group > * {
        width: 100%;
    }

    .text-group .icons-group {
        display: none;
    }

    .buz-news {
        margin-top: 180vh;
    }

    .buz-news .sec-news-01 {
        display: flex;
        flex-direction: column;
    }

    .buz-news .sec-news-02 {
        overflow: hidden;
    }

    .buz-famous img {
        width: 90%;
    }

    .buz-news .description h1 {
        font-size: 20px;
    }


    .for-startups {
        flex-direction: column;
        font-size: 12px;
        height: fit-content;
    }

    .for-startups .description {
        flex-direction: column;
    }

    .for-startups .description > div {
        width: 100%;
        text-align: center;

    }

    .for-startups .description > div img[alt="Jay Z"] {
        width: 50% !important;
    }

    .for-startups .description div h1 {
        font-size: 21px;
        width: 100%;
    }

    .for-startups button {
        display: none;
    }

    


    .slider-images {
        height: fit-content;
    }

    .slider-images .groups > div img {
        width: 40%;
    }

    .slider-images .groups.group-3 {
        display: none;
    }



    footer {
        height: fit-content;
    }

    .list-about-us .footer-container .list-group {
        flex-direction: column;
    }

    .list-about-us .footer-container > div:last-child {
        flex-direction: column;
    }

    footer .social-midia {
        display: flex;
        justify-content: space-between;
    }
    .list-about-us .footer-container .social-midia i {
        margin: 0;
    }

}